Package: stubber
Version: 1.78.01-0
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: Tool to create the GO software directory structure
 Create the skeleton of a GO software, with stubs to build RPMs, DEBs, APKs
Section: Development Utilities
