Package: stubber
Version: 1.000-0
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: Push package to repo
 Custom tool to push (RPM, DEB, APK) packages to Nexus Repository Manager repos
Section: Administration Utilities
Depends: gcc
